body {margin:0px; background-color:#4F5C38;}
body,td {font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:13px; }
pre {font-family:'Andale Mono',tahoma,verdana,arial,sans-serif; font-size:14px; }
h1,h2,h3,h4,h5,h6 {font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; color:#9AA486;  }
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:14px;}
blockquote {font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; color:#000; font-size:14px; font-weight:bold; margin:10px; padding:20px 20px 20px 20px; text-align:center; margin-left:0px; border:1px solid #000; }
input,textarea {font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:12px; }
a, a:link,a:visited,a:hover,a:active {text-decoration:none;}

#pageHeaderTab {height:30px; width:200px; color:#FFF; font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:20px; font-weight:bold; background-color:#000; margin:20px 20px 0px 20px; }
#pageTitle {padding:0px 10px 0px 10px; }

#divPageMenu {background-color:#000; color:#FFF; padding:8px 10px 12px 4px;}
#divPageMenu a { padding: 0px 8px 0px 6px; border-right:1px solid #FFF;  }
#divPageMenu a:link {color:#FFF; text-decoration:none; }
#divPageMenu a:visited {color:#FFF; text-decoration:none; }
#divPageMenu a:hover {color:#F60; text-decoration:none; }
#divPageMenu a:active {color:#FFF; text-decoration:none; }

#divBaseLinks {height:60px; background-color:#000; padding:0px 10px 0px 10px; line-height:1.5; color:#FFF; }
#divBaseLinks a:link {color:#FFF; text-decoration:none;}
#divBaseLinks a:visited {color:#FFF; text-decoration:none;}
#divBaseLinks a:hover {color:#FFF; text-decoration:none;}
#divBaseLinks a:active {color:#FFF; text-decoration:none;}

#container {margin:0px 20px 20px 20px; background-color:#C8CFC6;}
#divCopyright {padding:0px 20px 0px 20px; color:#778954; font-size:10px; }

#sideSearchBox {border:1px solid #000; margin-bottom:10px; }
#sideSearchBoxContent { background-color:#C8CFC6; border:1px solid #FFF; padding:8px; text-align:center; }
#searchHeader {height:22px; line-height:22px; color:#FFF; font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:12px; padding:0px 5px 0px 5px; background-color:#FF6600; border-top:1px solid #FFF; border-left:1px solid #FFF; border-right:1px solid #FFF; border-bottom:1px solid #C64F00;  }

#sideBarNews {border:1px solid #000; margin-bottom:10px; }
#sideBarNewsContent {background-color:#C8CFC6; border:1px solid #FFF; padding:10px; }
#newsHeader {height:22px; line-height:22px; color:#FFF; font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:13px; padding:0px 5px 0px 5px; background-color:#466199; border-top:1px solid #FFF; border-left:1px solid #FFF; border-right:1px solid #FFF; border-bottom:1px solid #466199;  }

#sideEmailBox {border:1px solid #000; margin-bottom:10px; }
#sideEmailBoxContent { background-color:#C8CFC6; border:1px solid #FFF; padding:8px; text-align:center; }
#emailHeader {height:22px; line-height:22px; color:#FFF; font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; font-size:12px; padding:0px 5px 0px 5px; background-color:#FF6600; border-top:1px solid #FFF; border-left:1px solid #FFF; border-right:1px solid #FFF; border-bottom:1px solid #C64F00;  }

.leftColumn { padding:10px 30px 20px 30px; border-left:1px solid #000; border-right:1px solid #FFF;}
.rightColumn {padding:10px 10px 10px 10px; border-left:1px dashed #CCC; width:170px; background-color:#9AA486; border-left:1px solid #000; border-right:1px solid #000; }
.subHeader {font-family:'Trebuchet MS',tahoma,verdana,arial,sans-serif; color:#000; font-size:17px; letter-spacing:1px; font-weight:bold; margin:10px 0px 10px 0px; border-bottom:1px solid #004A66;}
.note {color:#466199; font-style:italic; background-color: #f8faf8; padding:5px; border:1px solid #a8b2a5; }
.newsItem {margin-bottom:5px; font-size:11px; }
.readNewsLink {margin-bottom:10px; font-size:9px; }
.bluefish {color:#466199;}
.newsDate {color:#466199;}

/* styles for rounded corners */
b.rtop, b.rbottom{display:block;background: #4F5C38}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #000;}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}
b.r5{margin: 0 5px 0 0}
b.r6{margin: 0 3px 0 0}
b.r7{margin: 0 2px 0 0}
b.r8{margin: 0 1px 0 0}
